CONFIG_SCHED_MC=y

CONFIG_PROC_SYSCTL=y

CONFIG_EXPERT=y
CONFIG_MULTIUSER=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_FHANDLE=y
CONFIG_POSIX_TIMERS=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_BASE_FULL=y
CONFIG_FUTEX=y
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EVENTFD=y
CONFIG_SHMEM=y
CONFIG_AIO=y
CONFIG_IO_URING=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_RSEQ=y

CONFIG_CGROUPS=y

CONFIG_UNIX=m

CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_SHA256=y

# udev will fail to work with the legacy sysfs layout
CONFIG_SYSFS_DEPRECATED=n

# Legacy hotplug slows down the system and confuses udev:
CONFIG_UEVENT_HELPER_PATH=""

# Userspace firmware loading is not supported and should be disabled in the kernel:
CONFIG_FW_LOADER_USER_HELPER=n

# Some udev rules and virtualization detection relies on it:
CONFIG_DMIID=y

# Required for PrivateNetwork= in service units:
CONFIG_NET_NS=y
# Note that systemd-localed.service and other systemd units use PrivateNetwork
# so this is effectively required.

CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_KCMP=y

# Required for IPAddressDeny=, IPAddressAllow=, IPIngressFilterPath=,
# IPEgressFilterPath= in resource control unit settings unit settings:
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_CGROUP_BPF=y

# Note that kernel auditing is broken when used with systemd's container code.
CONFIG_AUDIT=n

# Turn off Real-Time group scheduling in the kernel when using systemd.
CONFIG_RT_GROUP_SCHED=n

CONFIG_SMP=y

CONFIG_HZ_250=y

CONFIG_RELOCATABLE=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_RANDOMIZE_MODULE_REGION_FULL=y
CONFIG_STACKPROTECTOR=y
CONFIG_STACKPROTECTOR_STRONG=y

CONFIG_RT_MUTEXES=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_COMPRESS_NONE=y
CONFIG_MODULES_TREE_LOOKUP=y
CONFIG_BLOCK=y

CONFIG_BLK_MQ_PCI=y
CONFIG_BLK_MQ_VIRTIO=y
CONFIG_BLK_PM=y

CONFIG_BINFMT_ELF=y
CONFIG_ARCH_BINFMT_ELF_STATE=y
CONFIG_ARCH_USE_GNU_PROPERTY=y
CONFIG_ELFCORE=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_MISC=m

CONFIG_MEMORY_ISOLATION=y
CONFIG_COMPACTION=y
CONFIG_MIGRATION=y
CONFIG_CONTIG_ALLOC=y
CONFIG_KSM=y

CONFIG_NET=y
CONFIG_PACKET=m
CONFIG_INET=y
CONFIG_IPV6=m

CONFIG_PCI=y
CONFIG_PCI_HOST_COMMON=y

CONFIG_DEVTMPFS_MOUNT=y
CONFIG_STANDALONE=y

CONFIG_FW_LOADER=y
CONFIG_EXTRA_FIRMWARE=""

CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_LOOP=m

CONFIG_NETDEVICES=y
CONFIG_NET_CORE=y

CONFIG_TTY=y
CONFIG_TTY_PRINTK=y
CONFIG_UNIX98_PTYS=y
CONFIG_LDISC_AUTOLOAD=y

CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_SERIAL_EARLYCON=y

CONFIG_COMMON_CLK=y

CONFIG_DEVTMPFS=y
CONFIG_INOTIFY_USER=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y

CONFIG_EXPORTFS=y

CONFIG_FILE_LOCKING=y

CONFIG_FSNOTIFY=y
CONFIG_DNOTIFY=y
CONFIG_FANOTIFY=y

CONFIG_FS_POSIX_ACL=y

CONFIG_BTRFS_FS=y
CONFIG_BTRFS_FS_POSIX_ACL=y

CONFIG_VFAT_FS=m
CONFIG_NLS_CODEPAGE_437=m
CONFIG_NLS_ISO8859_1=m

CONFIG_AUTOFS_FS=m

CONFIG_KERNFS=y

CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y

CONFIG_CONFIGFS_FS=y

CONFIG_SYMBOLIC_ERRNAME=y
CONFIG_FRAME_POINTER=y
